<h1>Viewing All Users</h1>
<% if flash[:notice] || flash[:alert] %>
    <div class='flash'><%= flash[:notice] || flash[:alert] %></div>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th colspan="8"></th>
    </tr>
  <thead>
  <tbody>
    <div id='users-container'>
      <tr>
        <% @users.each do |user| %>
          <td><p class="prof-name"> <%= user.profile_name %> </p></td>
          <td><p class="photo"> <%= wit.created_at %></p> <%= link_to 'Destroy', wit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
        <% end %>
    </div>
</table>

<%= form_for(@wit, remote: true, id: 'new-wit') do |f| %>
    <%= f.label :message %>
    <%= f.text_field :message %>
    <%= f.submit %>
<% end %>


