<!DOCTYPE html>
<html>
<head>
  <title>Chatter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <nav>
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><%= link_to 'Home', root_path %></li>
      <li role="presentation"><%= link_to 'View All Users', users_path %></li>
    </ul>
  </nav>
</div>


    <%= yield %>


  <div class="footer">
  </div>



</div>
</body>
</html>
